{% extends 'base.html' %}
{% block body %}

<section class="property-single-pg">
<div class="container">
<div class="property-single-page-content">
  <div class="row" >
      <div class="col-lg-8 pl-0 pr-0">
          <div class="property-pg-left">
          {% if search_listing %}
            <div class="similar-listings-posts">
                <h3>Listings</h3>

                <div class="list-products">
                  {% for property_listings in search_listing %}
                    <div class="card">
                        <a href="{% url 'property:detail' property_listings.slug %}" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="{{ property_listings.image.url }}" alt="" class="img-fluid">
                                <div class="rate-info">
                                    <h5>₹ {{ property_listings.price }}</h5>
                                    <span>For {{ property_listings.types }}</span>
                                </div>
                            </div>
                        </a>
                        <div class="card_bod_full">
                            <div class="card-body">
                                <a href="{% url 'property:detail' property_listings.slug %}" title="">
                                    <h3>{{ property_listings.title }}</h3>
                                    <p><i class="la la-map-marker"></i>{{ property_listings.address }}</p>
                                </a>
                                <ul>
                                    <li>{{ property_listings.bathrooms }} Bathrooms</li>
                                    <li>{{ property_listings.bedrooms }} Bedroom</li>
                                    <li>Area {{ property_listings.sqft }} Sq Ft</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="crd-links">
                                    <a href="#" class="pull-left">
                                        <i class="la la-heart-o"></i>
                                    </a>
                                    <a href="#" class="plf">
                                        <i class="la la-calendar-check-o"></i>{{ property_listings.date_updated }} by {{ property_listings.owner }}
                                    </a>
                                </div><!--crd-links end-->
                                <a href="{% url 'property:detail' property_listings.slug %}" title="" class="btn-default">View Details</a>
                            </div>
                        </div><!--card_bod_full end-->
                        <a href="{% url 'property:detail' property_listings.slug %}" title="" class="ext-link"></a>
                    </div><!--card end-->
                  {% endfor %}
                </div>

            </div>
            {% else %}
            <div class="container">
              <h1>
                No properties available here.
              </h1>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
